Source: kdebase-runtime
Section: kde
Priority: optional
Maintainer: Debian Qt/KDE Maintainers <debian-qt-kde@lists.debian.org>
Uploaders: Sune Vuorela <sune@debian.org>, Fathi Boudra <fabo@debian.org>,
 Armin Berres <armin+debian@space-based.de>, Modestas Vainius <modax@debian.org>, George Kiagiadakis <kiagiadakis.george@gmail.com>
Build-Depends: kde-sc-dev-latest (>= 4:4.4.5),
 cdbs (>= 0.4.51), cmake, debhelper (>= 7), pkg-kde-tools (>= 0.9),
 kdelibs5-dev (>= 4:4.5.95), libphonon-dev (>= 4:4.6.0really4.4.3), kdelibs5-plugins,
 libsmbclient-dev, libsoprano-dev (>= 2.4.63),
 libstreamanalyzer-dev (>= 0.6.3), libstrigiqtdbusclient-dev (>= 0.6.3),
 libopenexr-dev, libbz2-dev, libx11-dev, libxcursor-dev,
 libasound2-dev (>= 1.0.14a) [!kfreebsd-i386 !kfreebsd-amd64 !hurd-i386],
 libjpeg62-dev, libxine-dev, libslp-dev,
 liblzma-dev, libattica-dev (>= 0.1.4), libssh-dev (>= 0.4.0), libexiv2-dev,
 shared-desktop-ontologies,
 libntrack-qt4-dev [linux-any], libpulse-dev, libcanberra-dev,
 libnm-util-dev (>= 0.7)  [linux-any], network-manager-dev (>= 0.7.0) [linux-any]
Standards-Version: 3.9.1
Homepage: http://www.kde.org/
Vcs-Browser: http://git.debian.org/?p=pkg-kde/kde-sc/kdebase-runtime.git
Vcs-Git: git://git.debian.org/pkg-kde/kde-sc/kdebase-runtime.git

Package: kdebase-runtime
Section: kde
Architecture: any
Replaces: kdebase-bin (<< 4:4.2.90), kdelibs5 (<< 4:4.4.0), kdelibs-bin (<< 4:4.1.80),
 kdebase-workspace-bin (<< 4:4.2.90), kdebase-bin-kde3, kdebase-runtime-bin-kde4, kcontrol,
 kdebase-runtime-data (<< 4:4.4.0), kdelibs5-plugins (<< 4:4.5.0), kdebluetooth (<< 1.0~beta7-1),
 kdebase-kio-plugins
Breaks: kdebase-bin (<< 4:4.2.90), kdelibs5 (<< 4:4.4.0), kdelibs-bin (<< 4:4.1.80),
 kdebase-workspace-bin (<< 4:4.2.90), kdebase-bin-kde3, kdebase-runtime-bin-kde4, kcontrol,
 kdebase-runtime-data (<< 4:4.4.0), kdelibs5-plugins (<< 4:4.5.0), kdebluetooth (<< 1.0~beta7-1),
 kdebase-kio-plugins, phonon-backend-xine (<< 4:4.2.80)
Depends: ${shlibs:Depends}, ${misc:Depends}, ${perl:Depends},
 kdebase-runtime-data (>= ${source:Version}), ${sameVersionDep:kdelibs5-plugins:kdebase-runtime},
 oxygen-icon-theme (>= 4:4.4), phonon-backend-xine | phonon-backend,
 shared-desktop-ontologies, plasma-scriptengine-javascript (= ${binary:Version})
Recommends: hal, virtuoso-minimal
Suggests: djvulibre-bin, icoutils
Description: runtime components from the official KDE release
 KDE is produced by an international technology team that creates free and open
 source software for desktop and portable computing. Among KDE's products are a
 modern desktop system for Linux and UNIX platforms, comprehensive office
 productivity and groupware suites and hundreds of software titles in many
 categories including Internet and web applications, multimedia, entertainment,
 educational, graphics and software development.
 .
 This package contains programs and data needed at runtime by KDE applications.

Package: kdebase-runtime-data
Section: kde
Architecture: all
Depends: ${perl:Depends}, ${misc:Depends}
Replaces: kdebase-data (<< 4:4.2.90), kdebase-bin (<< 4:4.0.0), drkonqi, kdelibs5-data (<< 4:4.5.0),
 kdebase-workspace-data (<< 4:4.1.85+svn897913), akonadi-kde (<< 4:4.2.90), kde-icons-oxygen (<= 4:4.2.4-1),
 kdebase-data (<< 4:4.0.0), kdebase-runtime-data-common, plasma-widget-networkmanagement (<= 0.1~svn1175124-1),
 kdebase-workspace-bin (<< 4:4.5.95)
Breaks: kdebase-data (<< 4:4.2.90), kdebase-bin (<< 4:4.0.0), drkonqi, kdelibs5-data (<< 4:4.5.0),
 kdebase-workspace-data (<< 4:4.1.85+svn897913), akonadi-kde (<< 4:4.2.90), kde-icons-oxygen (<= 4:4.2.4-1),
 kdebase-data (<< 4:4.0.0), kdebase-runtime-data-common, plasma-widget-networkmanagement (<= 0.1~svn1175124-1),
 kdebase-workspace-bin (<< 4:4.5.95), phonon-backend-xine (<< 4:4.2.80)
Description: shared data files for the KDE base runtime module
 This package contains the architecture-independent shared data files needed to
 run KDE applications.
 .
 This package is part of the KDE base runtime module.

Package: khelpcenter4
Section: kde
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: htdig
Replaces: kdebase-runtime-data (<< 4:4.0.80-2), kdebase-runtime (<< 4:4.0.80-2), khelpcenter
Breaks: kdebase-runtime-data (<< 4:4.0.80-2), kdebase-runtime (<< 4:4.0.80-2), khelpcenter
Description: help center
 The KDE Help Center displays documentation on how to use the KDE plasma
 workspaces and applications, as well as UNIX man and info pages.
 It can search through documentation using the 'htdig' package.
 .
 This package is part of the KDE base runtime module.

Package: kde-config-phonon-xine
Section: kde
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ${xine-x:Depends}
Replaces: kdebase-runtime-data (<< 4:4.4.0), kdebase-runtime (<< 4:4.4.0)
Breaks: kdebase-runtime-data (<< 4:4.4.0), kdebase-runtime (<< 4:4.4.0)
Description: advanced Phonon Xine configuration
 This package contains a configuration module for tweaking some of the more
 advanced settings for Phonon's Xine backend.
 .
 This package is part of the KDE base runtime module.

Package: plasma-scriptengine-javascript
Section: kde
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Replaces: kdebase-workspace-bin (<< 4:4.1.82+svn893000), kdebase-workspace-data (<< 4:4.1.82)
Breaks: kdebase-workspace-bin (<< 4:4.1.82+svn893000), kdebase-workspace-data (<< 4:4.1.82)
Description: the JavaScript script engine for Plasma
 This package provides the JavaScript script engine for Plasma. You have to
 install it if you want to use Plasma widgets and data engines written in
 JavaScript.
 .
 This package is part of the KDE base runtime module.

Package: kdebase-runtime-dbg
Section: debug
Architecture: any
Priority: extra
Depends: kdebase-runtime (= ${binary:Version}), kdelibs5-dbg
Replaces: kdelibs5-dbg (<< 4:4.5.0), kdebase-dbg (<< 4:4.2.90), kdebase-workspace-dbg (<< 4:4.2.90)
Breaks: kdelibs5-dbg (<< 4:4.5.0), kdebase-dbg (<< 4:4.2.90), kdebase-workspace-dbg (<< 4:4.2.90)
Description: debugging symbols for KDE base runtime module
 This package contains the debugging symbols associated with kdebase-runtime.
 They will automatically be used by gdb for debugging kdebase-runtime related
 issues.
