Source: kdebase-runtime
Section: kde
Priority: optional
Maintainer: Debian Qt/KDE Maintainers <debian-qt-kde@lists.debian.org>
Uploaders: Ana Beatriz Guerrero Lopez <ana@debian.org>, Sune Vuorela <debian@pusling.com>, Fathi Boudra <fabo@debian.org>, Armin Berres <trigger+debian@space-based.de>
Build-Depends: cdbs, debhelper (>= 5), quilt, cmake, kdepimlibs5-dev (>= 4:4.0.0-1),
 libclucene-dev, libphonon-dev, libsmbclient-dev, libsoprano-dev (>= 1.99~rc2-1),
 libstrigiqtdbusclient-dev (>= 0.5.7), libxcb1-dev, libxine-dev
Standards-Version: 3.7.3
Homepage: http://www.kde.org/

Package: kdebase-runtime
Section: kde
Architecture: any
Replaces: kdebase-runtime-bin, kdebase-bin (<< 3.95.0)
Conflicts: kdebase-runtime-bin
Depends: ${shlibs:Depends}, kdebase-runtime-bin-kde4 (= ${binary:Version}),
 kdebase-runtime-data (>= ${binary:Version}), kde-icons-oxygen (>= ${binary:Version})
Description: runtime components from the official KDE release
 KDE (the K Desktop Environment) is a powerful Open Source graphical desktop
 environment for Unix workstations. It combines ease of use, contemporary
 functionality, and outstanding graphical design with the technological
 superiority of the Unix operating system.
 .
 This package contains miscellaneous programs needed at runtime by other
 KDE applications.

Package: kdebase-runtime-bin-kde4
Section: kde
Architecture: any
Depends: ${shlibs:Depends}
Conflicts: kdebase-bin-kde3
Replaces: kdebase-bin (<< 4:3.96.0), kdebase-bin-kde3
Description: KDE 4 core binaries for the KDE base runtime module
 This package contains miscellaneous programs needed at runtime by other KDE 4
 applications.
 .
 The files contained in this package can also be found in the
 'kdebase-bin-kde3' package.
 .
 This package is part of the KDE 4 base runtime module.

Package: kdebase-runtime-data
Section: kde
Architecture: all
Depends: kdebase-runtime-data-common (>= ${binary:Version}) | kdebase-data (<< 4:3.90.1)
Replaces: kdebase-data (<< 4:3.95.0), kdebase-bin (<= 4:3.5.8.dfsg.1-2), drkonqi
Conflicts: drkonqi
Description: shared data files for the KDE base runtime module
 This package contains the architecture-independent shared data files needed
 for running KDE applications KDE applications.
 .
 This package is part of the KDE 4 base runtime module.

Package: kdebase-runtime-data-common
Section: kde
Architecture: all
Replaces: kdebase-runtime-data, kdebase-data
Conflicts: kdebase-data (<< 4:3.90.1)
Description: shared data files for the KDE base runtime module 
 This package contains the architecture-independent shared data files needed
 to run KDE applications.
 .
 The files contained in this package can also be found in the KDE 3
 'kdebase-data' package.
 .
 This package is part of the KDE 4 base runtime module.

Package: kde-icons-oxygen
Section: kde
Architecture: all
Replaces: kdebase-data (<= 4:3.94.0-1)
Suggests: kdebase (>= 4:3.94.0-2)
Description: Oxygen icon theme for KDE 4
 Oxygen is the standard icon theme for KDE 4.

Package: khelpcenter
Section: kde
Architecture: any
Depends: ${shlibs:Depends}
Recommends: htdig
Description: help center for KDE
 The KDE Help Center provides documentation on how to use the KDE desktop.
 .
 The 'htdig' package is needed to build a searchable archive of KDE
 documentation.
 .
 This package is part of the KDE 4 base runtime module.

Package: kdebase-runtime-dbg
Section: devel
Architecture: any
Priority: extra
Depends: kdebase-runtime (= ${binary:Version}), kdepimlibs-dbg
Description: debugging symbols for KDE base runtime module
 This package contains the debugging symbols associated with kdebase-runtime.
 They will automatically be used by gdb for debugging kdebase-runtime related
 issues.
