#!/usr/bin/make -f

include debian/cdbs/kde.mk

DEB_CMAKE_EXTRA_FLAGS += \
						-DCMAKE_SHARED_LINKER_FLAGS="-Wl,-z,defs -Wl,--as-needed" \
						-DCMAKE_MODULE_LINKER_FLAGS="-Wl,-z,defs -Wl,--as-needed"

